#restaurants-list li {
    background-color: #fff;
    border-radius: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 15px 0;
    min-height: 380px;
    overflow: hidden;
    padding: 0 30px 25px;
    text-align: left;
    width: 90%;
    box-sizing: border-box;
  }
  .filter-options h2 {
    padding-top: 15px;
    width: 100%;
  }
  .filter-options select {
    width: 100%;
  }
